@model IEnumerable<HRService.Core.DTO.JobViewDTO>
@{
    ViewData["Title"] = "Jobs";
}

<div class="container mt-4">
    <h2 class="mb-3">Job List</h2>
    <div class="d-flex justify-content-end justify-content-sm-end">
        <a class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addJob">Add a New Job</a>
    </div>
    <div class="modal" id="addJob">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- await Html.PartialAsync("_CreateJob", new HRService.Core.DTO.JobViewDTO()); -->
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="10" class="text-center">No jobs found</td>
                </tr>
            }
            else
            {
                foreach(var job in Model)
                {
                    <tr>
                        <td>@job.JobName</td>
                        <td>@job.DepartmentName</td>
                        <td>
                            <a>Delete</a>
                        </td>
                    </tr>
                }
            }
            
        </tbody>
    </table>
</div>

